/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --white-color: hsl(0, 0%, 100%);
  --Light-gray-color: hsl(212, 45%, 89%);
  --Grayish-blue-color: hsl(220, 15%, 55%);
  --Dark-blue-color: hsl(218, 44%, 22%);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background-color: var(--Dark-blue-color);
}

.container {
  display: flex;
  min-height: 100vh;
  background-color: var(--Light-gray-color);
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card {
  background-color: var(--white-color);
  height: 326px;
  width: 212px;
  padding: 12px;
  border-radius: 16px;
}

.img-block img {
  max-width: 100%;
  border-radius: 10px;
}

.info-block h1 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--Dark-blue-color);
}

.info-block p {
  font-weight: 400;
  font-size: 0.7rem;
  color: var(--Grayish-blue-color);
}
